{% extends "base.html" %}

{% block title %}
    My Site - About
{% endblock title %}


{% load static %}
{% extends "base.html" %}

{% block title %}
    My Site - About
{% endblock title %}


{% load static %}

{% block content %}
<div class="media">
        <div class="col-sm-4">
        <img class="mr-3 about-image" src="{% static 'images/golden-eagle-face-and-beak.jpg' %}" alt="Sample photo">
        </div>
        <div class="col-sm-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Enim tortor at auctor urna nunc id cursus metus aliquam. Nibh venenatis 
            cras sed felis eget velit aliquet. Est lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque. 
            Ultricies tristique nulla aliquet enim tortor. Mauris a diam maecenas sed enim ut sem viverra aliquet. 
            Adipiscing vitae proin sagittis nisl rhoncus. Proin nibh nisl condimentum id venenatis a condimentum vitae sapien.
             Posuere morbi leo urna molestie at elementum eu facilisis sed. Risus feugiat in ante metus dictum at tempor 
             commodo ullamcorper. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in. Ut sem nulla 
             pharetra diam sit amet nisl suscipit. Egestas tellus rutrum tellus pellentesque eu tincidunt. Et molestie ac 
             feugiat sed. Quisque egestas diam in arcu cursus. Vitae sapien pellentesque habitant morbi.</div>
      </div>
<div class="media">
        <div class="col-sm-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Enim tortor at auctor urna nunc id cursus metus aliquam. Nibh venenatis 
                cras sed felis eget velit aliquet. Est lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque. 
                Ultricies tristique nulla aliquet enim tortor. Mauris a diam maecenas sed enim ut sem viverra aliquet. 
                Adipiscing vitae proin sagittis nisl rhoncus. Proin nibh nisl condimentum id venenatis a condimentum vitae sapien.
                 Posuere morbi leo urna molestie at elementum eu facilisis sed. Risus feugiat in ante metus dictum at tempor 
                 commodo ullamcorper. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in. Ut sem nulla 
                 pharetra diam sit amet nisl suscipit. Egestas tellus rutrum tellus pellentesque eu tincidunt. Et molestie ac 
                 feugiat sed. Quisque egestas diam in arcu cursus. Vitae sapien pellentesque habitant morbi.</div>
        <img class="mr-3 about-image" src="{% static 'images/party-hat-frenchie.jpg' %}" alt="Sample photo">
</div>

{% endblock content %}



{% block content %}
<div class="row">
        <div class="col-sm-4">
        <img class="mr-3 about-image" src="{% static 'core/images/golden-eagle-face-and-beak.jpg' %}" alt="Sample photo">
        </div>
        <div class="col-sm-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Enim tortor at auctor urna nunc id cursus metus aliquam. Nibh venenatis 
            cras sed felis eget velit aliquet. Est lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque. 
            Ultricies tristique nulla aliquet enim tortor. Mauris a diam maecenas sed enim ut sem viverra aliquet. 
            Adipiscing vitae proin sagittis nisl rhoncus. Proin nibh nisl condimentum id venenatis a condimentum vitae sapien.
             Posuere morbi leo urna molestie at elementum eu facilisis sed. Risus feugiat in ante metus dictum at tempor 
             commodo ullamcorper. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in. Ut sem nulla 
             pharetra diam sit amet nisl suscipit. Egestas tellus rutrum tellus pellentesque eu tincidunt. Et molestie ac 
             feugiat sed. Quisque egestas diam in arcu cursus. Vitae sapien pellentesque habitant morbi.</div>
      </div>
<div class="row">
        <div class="col-sm-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Enim tortor at auctor urna nunc id cursus metus aliquam. Nibh venenatis 
                cras sed felis eget velit aliquet. Est lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque. 
                Ultricies tristique nulla aliquet enim tortor. Mauris a diam maecenas sed enim ut sem viverra aliquet. 
                Adipiscing vitae proin sagittis nisl rhoncus. Proin nibh nisl condimentum id venenatis a condimentum vitae sapien.
                 Posuere morbi leo urna molestie at elementum eu facilisis sed. Risus feugiat in ante metus dictum at tempor 
                 commodo ullamcorper. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in. Ut sem nulla 
                 pharetra diam sit amet nisl suscipit. Egestas tellus rutrum tellus pellentesque eu tincidunt. Et molestie ac 
                 feugiat sed. Quisque egestas diam in arcu cursus. Vitae sapien pellentesque habitant morbi.</div>
        <img class="mr-3 about-image" src="{% static 'core/images/party-hat-frenchie.jpg' %}" alt="Sample photo">
</div>

{% endblock content %}


