{% extends "base.html" %}

{% block title %}
sfbaWildlifeTracker - Home
{% endblock title %}

{% load static %}

{% block content %}
<div>
  <div class="row">
    <div class="col-sm-4">
      <div class="row bs-example">
        <button class="btn btn-primary"
        onclick="getLocation();window.location.href=/add-new/">New Report</button>
      </div>




      <div class="row bs-example">
        <h3>Incident Reports</h3>
        {% for report in reports %}
         <div>
           {% if report.image %}
            <img class="d-block w-100" src="{{ report.image.url }}" alt="{{ report.type }}">
           {% endif %}
            <div>{{ report.type }}</div>
            <div> {{ report.created }} </div>
            <div> {{ report.text }}</div>
         </div>  
        {% endfor %}


        <div>
          <img class="mr-3 media-image" src="{% static 'images/golden-eagle-face-and-beak.jpg' %}" alt="Sample photo">
          <div class="media-body">
            <h5>Media Heading</h5>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo.</p>
          </div>
        </div>
        <hr>
        <div>
          <img class="mr-3 media-image" src="{% static 'images/party-hat-frenchie.jpg' %}" alt="Sample photo">
          <div class="media-body">
            <h4>Media Heading</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">

      {% include "snippets/map.html" %}
    </div>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>


{% endblock content %}
