{% extends "base.html" %}

{% block title %}
sfbaWildlifeTracker - Home
{% endblock title %}

{% load static %}
{% load tz %}
{% block content %}
<div class="container-fluid fill">
  <div class="row">
    <div class="col-3 pagecol">

      <div class="row bs-example report-list-title">
        <div class="col ">
          <h3>Recent Reports:</h3>
        </div>
      </div>

      <div class="row bs-example">
        <div class="col listview">

          {% for report in reports %}
          <div class="row ">
            <div class="col">
              <div class="card mt-20">
                <div class="row">
                  <div class="col">
                    <div class="report_title"><a id="marker_{{forloop.counter}}" href="#" onclick="marker_{{forloop.counter}}.openPopup();">
                        <h4>{{report.summary|truncatechars:35}}</h4>
                      </a></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="report_date">{{ report.created|timezone:"US/Pacific"  }}</div>
                    <div class="report_text">{{ report.detailed_description|truncatechars:100}}</div>
                  </div>
                  <div class="col">
                    {% if report.image %}
                    <img class="mr-3 media-image img-thumbnail" src="{{ report.image.url }}" alt="{{ report.summary }}">
                    {% else %}
                    <img class="mr-3 media-image no-image" src="{% static 'images/noImageAvailable.png' %}" alt="(No image available)">
                    {% endif %}
                  </div>
                </div>



                <!-- <div class="report_title"><a id="marker_{{forloop.counter}}" href="#" onclick="marker_{{forloop.counter}}.openPopup();">{{report.summary|truncatechars:100}}</a></div>
                {% if report.image %}
                <img class="mr-3 media-image" src="{{ report.image.url }}" alt="{{ report.summary }}">
                {% else %}
                <img class="mr-3 media-image no-image" src="{% static 'images/noImageAvailable.png' %}" alt="(No image available)">
                {% endif %}
                <div class="report_date">{{ report.created }}</div>
                <div class="report_text">{{ report.detailed_description }}</div> -->
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="report_button_row">
            <button class="btn btn-primary btn-block btn-lg w-100 h-100" onclick="window.location.href=/add-new/">New Report</button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-9 mapcol">
      <div id="mapid_{{page}}"></div>
    </div>
  </div>
</div>
{% include "snippets/map.html" %}
<script>
  //Get user location
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(postPosition);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  //Send location to server
  function postPosition(position) {
    var latlon = {
      'lat': position.coords.latitude,
      'lon': position.coords.longitude
    };

    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/log_location/", true);
    xhttp.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
    xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhttp.send(JSON.stringify(latlon));
  }

  getLocation()
</script>

{% endblock content %}
